*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1275bc;
  --secondary-color: #edff57;
  --tertiary-color: #0e153a;
  --body-font-color: #515151;
  --main-font: "Raleway", sans-serif;
  --body-font: "Roboto", sans-serif;
  --overlay: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font);
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

#home-about,
#home-service {
  padding: 5rem 0;
}

/* Hero */

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/pic1.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: right;
  align-items: center !important;
  padding: 0 1rem;
}
.hero-content {
  color: #fff;
}

#hero .hero-content h1 {
  font-size: 3.5rem;
}

#hero .hero-content a {
  text-transform: uppercase;
}

/* Home About */

/* Home Services */

#home-service .box {
  padding: 5rem;
}

#home-service img {
  width: 12rem;
  padding-top: 2rem;
}

/* Media Queries */

@media screen and (min-width: 900px) {
  #hero {
    text-align: left;
  }
  #hero .hero-content p {
    font-size: 1.5rem;
  }
  #hero .hero-content h3 {
    font-size: 3.5rem;
  }
  #hero .hero-content h1 {
    font-size: 10rem;
  }
}
